*{
    margin: 0;
    padding: 0;
    border: 1px dashed red;
}
.page-container{
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.leftside{
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.leftside h4{
    margin-left: 25px;
}
.rightside{
    margin-right: 25px;
}
.signout{
    background-color: blue;
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
}

.header{
    background-color: grey;
    height: 30%;
}
.mainpage{
    display: flex;
    
}
.maincontent{
    flex: 2;
    margin: 20px;
}
.usercard{
    height: 400px;
    background-color: lightblue;
}
.profile{
    border-radius: 50%;
    height: 100px;
    padding: 5px;
    margin-top: 50px;
    margin-left: 20px;
}
.pushdown{
    margin-top: 50px;
}
.usercard h2, p{
    margin-left: 25px;
}
a{
    color: blue;
}
.education{
    height: 400px;
    background-color: bisque;
    margin-top: 25px;
}
.education h2,h3, p{
    margin-left: 25px;
}
.sidecontent{
    flex: 1;
    margin: 20px;
}
.connectionrequests{
    height: 150px;
    background-color: blanchedalmond;
}
.moreleft{
    margin-left: 80px;
}

.circle{
    background-color: purple;  
    border-radius: 50%;
    height: 100px;
    padding: 5px;
    margin-left: 20px;
    position: relative;
    top: 15px;
}
.connectioncheckmark{
    display: flex;
    justify-content: space-between;
}
.yourconnections{
    height: 150px;
    background-color: aqua;
    margin-top: 25px;
}
.connections{
    justify-content: center;
    margin-top: 5px;
}